<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="columnRelations" type="Db2File.Code.Common.ColumnRelationSettingsSectionHandler, Db2File"/>
  </configSections>

  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql" description="Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql"/>
    </DbProviderFactories>
  </system.data>

  <appSettings>
    <add key="DefaultFileEncoding" value="windows-1251" />
    <add key="CsvCharDelimiter" value=";" />
    <add key="NumberDecimalSeparator" value="," />
    <add key="DefaultExcelSheetName" value="Лист1" />
  </appSettings>
  
  <connectionStrings>
    <add name="DB" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=c:\Resources\Larin\Paradox;Extended Properties=Paradox 5.x;" />
  </connectionStrings>

  <columnRelations></columnRelations>
  
  <!--Список абонентов-->
  <!--<columnRelations>
    <columnRelation dbColumnName="ID" fileColumnName="ID" fileColumnType="Number" fileColumnLength="8" fileColumnDecimals="0" />
    <columnRelation dbColumnName="ADDRESS" fileColumnName="ADDRESS" fileColumnType="Character" fileColumnLength="200" fileColumnDecimals="0" />
    <columnRelation dbColumnName="FIO" fileColumnName="FIO" fileColumnType="Character" fileColumnLength="100" fileColumnDecimals="0" />
    <columnRelation dbColumnName="PERSON" fileColumnName="PERSON" fileColumnType="Number" fileColumnLength="2" fileColumnDecimals="0" />
    <columnRelation dbColumnName="SQUARE" fileColumnName="SQUARE" fileColumnType="Number" fileColumnLength="7" fileColumnDecimals="1" />
    <columnRelation dbColumnName="GARAGE" fileColumnName="GARAGE" fileColumnType="Number" fileColumnLength="7" fileColumnDecimals="1" />
    <columnRelation dbColumnName="BATH" fileColumnName="BATH" fileColumnType="Number" fileColumnLength="7" fileColumnDecimals="1" />
    <columnRelation dbColumnName="HOTHOUSE" fileColumnName="HOTHOUSE" fileColumnType="Number" fileColumnLength="7" fileColumnDecimals="1" />
    <columnRelation dbColumnName="HOUSETYPE" fileColumnName="HOUSETYPE" fileColumnType="Character" fileColumnLength="100" fileColumnDecimals="0" />
  </columnRelations>-->

  
  <!--Список проживающих-->
  <!--<columnRelations>
    <columnRelation dbColumnName="ID" fileColumnName="ID" fileColumnType="Number" fileColumnLength="8" fileColumnDecimals="0" />
    <columnRelation dbColumnName="FIO_PERSON" fileColumnName="FIO_PERSON" fileColumnType="Character" fileColumnLength="100" fileColumnDecimals="0" />
    <columnRelation dbColumnName="STATUS" fileColumnName="STATUS" fileColumnType="Character" fileColumnLength="30" fileColumnDecimals="0" />
    <columnRelation dbColumnName="DATE_IN" fileColumnName="DATE_IN" fileColumnType="Date" fileColumnLength="8" fileColumnDecimals="0" />
    <columnRelation dbColumnName="DATE_OUT" fileColumnName="DATE_OUT" fileColumnType="Date" fileColumnLength="8" fileColumnDecimals="0" />
  </columnRelations>-->

  
  <!--Список выбывших-->
  <!--<columnRelations>
    <columnRelation dbColumnName="ID" fileColumnName="ID" fileColumnType="Number" fileColumnLength="8" fileColumnDecimals="0" />
    <columnRelation dbColumnName="FIO_OUT" fileColumnName="FIO_OUT" fileColumnType="Character" fileColumnLength="100" fileColumnDecimals="0" />
    <columnRelation dbColumnName="DATE_OUT" fileColumnName="DATE_OUT" fileColumnType="Date" fileColumnLength="8" fileColumnDecimals="0" />
    <columnRelation dbColumnName="DATE_RETURN" fileColumnName="DATE_RETURN" fileColumnType="Date" fileColumnLength="8" fileColumnDecimals="0" />
    <columnRelation dbColumnName="NOTICE" fileColumnName="NOTICE" fileColumnType="Character" fileColumnLength="100" fileColumnDecimals="0" />
    <columnRelation dbColumnName="SIGN_OUT" fileColumnName="SIGN_OUT" fileColumnType="Boolean" fileColumnLength="1" fileColumnDecimals="0" />
  </columnRelations>-->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
