<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="columnRelations" type="Db2File.Code.Common.ColumnRelationSettingsSectionHandler, Db2File"/>
  </configSections>

  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql" description="Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql"/>
    </DbProviderFactories>
  </system.data>

  <appSettings>
    <add key="DefaultFileEncoding" value="windows-1251" />
    <add key="CsvCharDelimiter" value=";" />
    <add key="NumberDecimalSeparator" value="," />
    <add key="DefaultExcelSheetName" value="Лист1" />
  </appSettings>
  
  <connectionStrings>
    <add name="DB" connectionString="" />
  </connectionStrings>

  <columnRelations></columnRelations>
  
  <!--Fields for an example-->
  <!--<columnRelations>
    <columnRelation dbColumnName="DbField1" fileColumnName="FileField1" fileColumnType="Number" fileColumnLength="8" fileColumnDecimals="0" />
    <columnRelation dbColumnName="DbField2" fileColumnName="FileField2" fileColumnType="Character" fileColumnLength="100" fileColumnDecimals="0" />
    <columnRelation dbColumnName="DbField3" fileColumnName="FileField3" fileColumnType="Date" fileColumnLength="8" fileColumnDecimals="0" />
  </columnRelations>-->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
